
@import url(https://db.onlinewebfonts.com/c/ac76a50fa7d0b938a282e939e51d3902?family=Quiche+Display+Bold);

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: "Quiche Display Bold";
}

container, h1{
    text-align: center;
}


body{
background-image:url('images/princess-coquette.jpeg');
background-size:cover;
background-attachment:fixed;
background-position:center;
background-repeat:no-repeat;
color:#333;
line-height:1.6;
display: flex;
flex-direction: column;
}


header{
background:#ddcad4;
color:#d4b8c5;
padding:15px;
}

html, body {
  height: 100%;
}


main {
  flex: 1;
}


nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:10px;
}


nav a{
color:#fff;
text-decoration:none;
padding:8px 12px;
border-radius:4px;
}


nav a:hover{
background:rgb(219, 173, 196);
}


.container{
max-width:1000px;
margin:20px auto;
padding:20px;
background:#fff;
border-radius:8px;
}


h1,h2{
margin-bottom:10px;
}

h2{
    text-align: center;
}


.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:15px;
}

.grid2{
display:grid;
grid-template-columns:none;
gap:15px;
}


.card{
background:#f1f3f5;
padding:15px;
border-radius:6px;
}

.card2{
background:#f1f3f5;
padding:15px;
border-radius:6px;
margin-bottom:20px;
}

.card2, h2{
text-align:center;
}

.card2, p{
    font-size: 20px;
}

footer{
text-align:center;
padding:15px;
margin-top:20px;
background:#e9ecef;
}

form input, form textarea, form button{
width:100%;
height: 80%;
padding:10px;
margin:8px 0;
}

form input, form textarea{
border:1px solid #ccc;  
}


form button{
background:#d8b2c9;
}